
.homeDIV {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    border:solid;
    border-radius: 20px;
    border-width: 4px;
    border-color: #c4c4c464;
}

p {
    text-align: center;
    margin-bottom: 5px;
}

.homeIMG {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 35%;
    height: auto;

}

