.picksIMG {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
    width: 40%;
    height: auto;

}

.picksButton {
    width: 150px;
    height: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: block;
}

.correctPick {
    color: limegreen !important;
    font-weight: bold;
}

.wrongPick {
    color: #ed0404 !important;
    font-weight: bold;
}

.notScored {
    color: black !important;
    font-weight: bold;
}